APP_BASE_PATH=/ailand
DATA_DIR=/app/server/data
GEMINI_MODEL=gemini-3-pro-preview
OPENAI_MODEL=gpt-5.1-codex
LITELLM_API_URL=https://... #fill it
LITELLM_API_KEY=sk-1t9...   #fill it
LITELLM_IMAGE_MODEL=vertex_ai/gemini-2.5-flash-image
PORT=5000
HOST=0.0.0.0
SALT=76e2994b-6026-4ad2-9d44-adad90306434
VPN_AUTH=vpn_user_name;vpn_password #fill it