/* ElementPicker.module.css */

.pickerButtonFull {
    width: 100%;
}



.pickerContainer {
    margin-bottom: 8px;
    min-width: 0;
}

.selectionValue {
    flex: 1;
    font-family: monospace;
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* direction: rtl; */
    /* text-align: left; */
}